<div id="breadcrumb">
  <%= link_to 'â† Back to Cart', cart_path %>
</div>

<div id="js_notice">
	JavaScript is required to view this page.
</div>

<div id="custom_product_content">
	<div id="main_content">
		<%= render 'form' %>
	</div>
</div>