<div id="breadcrumb">
  <%= link_to 'â† Back to Custom', custom_path %>
</div>

<div id="js_notice">
	JavaScript is required to view this page.
</div>

<div id="custom_product_content">
	<div class="page_title">
		<h1>Custom <%= @category %></h1>
	</div>
	<%= render 'form' %>
</div>

<%= link_to 'Back', custom_products_path %>