<div id="js_notice">
	JavaScript is required to view this page.
</div>

<div id="custom_product_content">
	<h1>Custom <%= @category %></h1>
	<%= render 'form' %>
</div>

<%= link_to 'Back', custom_products_path %>