<div id="js_notice">
	JavaScript is required to view this page.
</div>

<div id="custom_product_content">
	<h1>New Custom Product</h1>

	<%= render 'form2' %>
</div>

<%= link_to 'Back', custom_products_path %>
