<h1>About</h1>

<div id="about_content">
	<img></img>
	<p>Decade handcrafts exceptional leather goods.</p>

	<p>Every piece that leaves my workshop is cut, stitched, and finished by hand from the finest American and European materials. My work is guaranteed for life.</p>

	<p>Handmade in Chicago, Illinois, USA</p>
	<a href="mailto:info@decadeleather.com">Email</a>
	<%= link_to "Policies", policies_path %>
</div>

