<h1>Catalog</h1>
<div id="style_nav">
  <ul>
    <li>All</li>
    <li>Billfolds</li>
    <li>Card Wallets</li>
    <li>ID Wallets</li>
    <li>Zip Wallets</li>
    <li>Notebooks</li>
  </ul>
</div>
<div id="product_list">
  <% @products.each do |product| %>
    <% if product.stock > 0 %>
      <%= link_to product do %>
        <div class="product_tile">
          <%= image_tag(product.image_url, :alt => product.name) %>
          <div class="product_info">
            <text class="product_title"><%= product.name %></text><br>
            <text class="price"><%= number_to_currency(product.price, :unit => '$') %></text>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>