<h1>Custom Leather Goods</h1>

<% custom_products = {"Billfold" => "200", "Card Wallet" => "150", "ID Wallet" => "80", "Notebook" => "120"} %>

<div id="product_list">
  <% custom_products.each do |product, price| %>
    <%= link_to builder_path(:category => product) do %>
    	<div class="product_tile">
        <%= image_tag(product, :class => "catalog_image" , :alt => product) %>
      	<div class="product_info">
        	<text class="product_title"><%= product %></text><br>
        	<text class="price">From <%= number_to_currency(price, :unit => '$') %></text><br><br>
    		</div>
    	</div>
    <% end %>
  <% end %>
</div>
