<div class="owl-carousel">
	<div><%= image_tag("https://s3.us-east-2.amazonaws.com/decade-leather-site-images/IMG_3763.JPG") %> </div>
	<div><%= image_tag("https://s3.us-east-2.amazonaws.com/decade-leather-site-images/IMG_3762.JPG") %> </div>
	<div> slide 3 </div>
</div>