/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {

	padding: 0;
	margin: 0;

}

#wrapper {

	max-width: 940px;
	margin: 0 auto;
	padding: 0 15% 0 15%;

}

#session {

	width: 100%;
	height: 2em;
	background: #fff;

}

#session a{

	line-height: 2em;
	padding: 0 1em 0 1em;
	margin: 0 5% 0 0;
	color: #8e8e8e;
	text-decoration: none;
	text-transform: uppercase;
	float: right;

}

#nav {

	width: 100%;
	height: 7em;
	background: #fff;

}

#pages_nav a{

	width: 100%;
	padding: 0 1em 0 1em;
	color: #292d33;
	text-decoration: none;
	text-transform: uppercase;

}