/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {

	padding: 0;
	margin: 0;

}

body {

	background: #FFF;

}	

#content {

	margin: 1.5em 0 0 0;
	min-height: 350px;

}

#content a {

	text-decoration: none;
	color: #8e8e8e;
	font-size: 1.25em;
	line-height: 1.7em;
}

#content a:hover {

	color: #8f6806;

}

p, text {

  font-family: cardo;
  font-size: 1.25em;
  line-height: 1.7;
  color: #555;
}

h1, h2, h3 {

	font-weight: normal;
	-webkit-font-smoothing: antialiased;

}

h1 {

  font-family: cardo;
  font-weight: normal;
  font-size: 1.6em;
  letter-spacing: .02em;
  line-height: 1.2;
  color: #555;

}


#wrapper {

	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15% 0 15%;

}

#session {

	width: 100%;
	height: 2em;
	background: #FFF;
		
}

#session a{

	line-height: 2em;
	padding: 0 1em 0 1em;
	margin: 0 5% 0 0;
	color: #8e8e8e;
	text-decoration: none;
	letter-spacing: .04em;
	text-transform: uppercase;
	float: right;

}

#session a:hover {

	color: #8f6806;

}

#nav {

	width: 100%;
	height: 7em;
	background: #FFF;
	text-align: center;

}


#session ul {

	list-style: none

}

#pages_nav {

	margin-top: 1.75em;

}

#pages_nav a{

	width: 100%;
	padding: 0 4.5em 0 4.5em;
	color: #555;
	font-size: 1.19em;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;

}

#pages_nav a:hover {

	color: #8f6806;

}

#pages_nav a:active {

	color: #8f6806;

}


#custom_product_content {

	display: none;

}

.error_highlight {

	border: 1px solid red;

}

.hidden_field {

	display: none;

}

#product_view {

	display: none;
	position: relative;

}

#view_container {

	position: relative;

}

#view_container .first_product_image{

	position: relative;
	max-width: 100%;
}

#view_container .product_image{

	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.required_field {

  display: block;
  margin: 0 0 .7em 0;
  padding: 0 0 .35em 0;

}

.required_section {

  display: block;

}

.required_section .required_section {

	margin: 0 0 0 0;

}

#corners_view {
	position: absolute;
	z-index: 10;
}

#exterior_materials_view {
	position: absolute;
	z-index: 11;
}

#stitching_view {
	position: absolute;
	z-index: 12;
}

#edges_view {
	position: absolute;
	z-index: 13;
}

#custom_product_content span {

	text-transform: capitalize;

}

#custom_product_content #currency_notice {

	display: none;
	text-transform: none;

}

.page_title {

	margin: 0 0 1em 0;

}

.page_title h1 {

	font-family: cardo;
  font-weight: normal;
  font-size: 1.8em;
  letter-spacing: .02em;
  line-height: 1.2;
  color: #555;

}


.page_title ul {

	list-style: none;

}

.footer {

	width: 100%;
	float: left;
	margin: 3em 0 0 0;

}

#product_list {

	float: left;
	width: 100%;

}

#product_images {

	float: left;
	width: 50%;
	max-width: 500px;


}

.product_info {

	text-align: center;

}

#product_info {

	display: inline-block;
  margin: 0 0 0 2em;
	max-width: 47%;

}

.label_swatch {

  width: 30px;
  height: 15px;
  border-top: 7px solid white;
	display: inline-block;

}

.label_swatch.selected {

  width: 30px;
  height: 22px;
  border-top: none;

}

.radio_swatch {

	display: none;

}

.social_nav {

	text-align: center;
	margin: 0 0 15px 0;
}

.social_nav ul{

	list-style: none;
	
}

.social_nav li{

	width: 35px;
	display: inline-block;

}

.social_nav a{

	text-decoration: none;
	font-size: 1.7em;
	color: #555;

}

.social_nav a:hover {
    
  z-index: 2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

#logo {

	max-width: 145px;
  display: block;
  margin: 2em auto 2.5em auto;	
}

.custom_title {

	font-family: cardo;
	font-weight: normal;
	font-size: 1.85em;
	letter-spacing: .02em;
	line-height: 1.2;
	color: #555;

}

#price {

	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: 600;
  font-size: 1.1em;
  color: #555;
  letter-spacing: .05em;

}

#show_price {

	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: 600;
  font-size: 1.25em;
  color: #555;
  letter-spacing: .05em;

}

.custom_price {

	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: 600;
  font-size: 16px;
  color: #555;
  letter-spacing: .05em;

}

.catalog_image {

	max-width: 300px;
	width: 100%;

}

.catalog_image:hover {

	opacity: .6;

}

.product_tile {

	display: inline-block;
	margin: 0 1em 0 0;
}

#breadcrumb a {
	font-size: 1.19em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown_content {
    display: block;
}


.dropdown .fa-chevron-down {

	font-size: .5em;

}

#session .dropdown {

	float: right;
	line-height: 2em;
  padding: 0 1em 0 1em;
  margin: 0 5% 0 0;
  color: #8e8e8e;
  text-decoration: none;
  letter-spacing: .04em;
  text-transform: uppercase;

}

#session .dropdown_content {

	text-align: left;
	min-width: 120px;
	padding: 5px 0 0 10px;
}

#session .dropdown_content a {

	float: none;
	padding: 0;
	margin: 0;
	text-transform: none;
  color: #8e8e8e;
  font-size: 1.1em;
  line-height: 1.7em;
}

#session .dropdown_content a:hover {

	color: #8f6806;

}

#session .dropdown .fa-chevron-down {

	font-size: .8em;
	margin: 0 0 0 4px;

}


#cart_button {

  border: 3px solid #8f6806;
  padding: 5px;
  color: #8f6806;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0 1.25em;

}

#cart_button:hover {

	background-color: #8f6806;
	color: #FFF;
}

#custom_cart_button {

  border: 3px solid #8f6806;
  padding: 6px;
  color: #8f6806;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	background-color: #FFF;
	cursor: pointer;

}

#custom_cart_button:hover {

	background-color: #8f6806;
	color: #FFF;
}

#checkout_button {

 	border: 2px solid #8f6806;
 	padding: 5px;
 	color: #8f6806;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0 0;

}

#checkout_button:hover {

	background-color: #8f6806;
	color: #FFF;
}

#product_description {

	margin: 1.25em 0 0 0;

}

#custom_options label {

	color: #555;
 	font-size: 1.25em;
 	letter-spacing: .04em;
 	font-family: cardo;

}

#custom_options span {

	font-family: cardo;
	font-size: 1.15em;
	font-style: italic;
	color: #555;

}

#product_price {

	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: 600;
 	font-size: 1.5em;
 	color: #555;
 	letter-spacing: .05em;
	display: inline;

}

#new_custom_product {


}

#custom_options select {

    color: #555;
    border: 2px solid #666;
    background-color: white;

}

#options_panel {

	width: 31%;
	margin: 1em 1% 0 0;
	display: inline;

}

#product_view_panel {

	position: relative;
	width: 66%;
	margin: 1em 0 200px 2em;
	display: inline;
	float: right;

}

#cart_div {
	display: inline;
	margin: 0 0 0 1.25em;
}


#about_links {
	margin: 1em 0 0 0;
}

#about_links a {
	font-size: 1.19em;
}

#about_content p {

	margin: 10px 0 0 0;
	line-height: 1.5;
}

#about_content p.firstp {

	margin: 0;

}

#cart_contents li {

	list-style: none

}

#cart_items {
 
  text-align: right;
  width: 100%;
  border-spacing: 0px;
  margin: 0 0 1em 0;

}


#cart_items p {

	margin: 0 5px 0 5px;
	font-weight: normal;

}

.cart_image {

	max-width: 100px;

}

#about_links a {

	margin: 0 .85em 0 0;

}

#checkout_button_link {

	margin: 0;

}

#cart_items td {
    border-top: 1px solid #888;
    padding: 1em 0;
}

#clear_cart {

	margin-left: 1em;

}

.order_status {

	margin: 2em 0 1em 0;
	font-size: 1.1em;

}

#order_content {

	margin: 2em 0 0 0;

}

#order_table {

  width: 100%;
  border-spacing: 0px;
  margin: 1em 0;
  text-align: right;
}

#order_table td {

  border-top: 1px solid #888;
  padding: 1em 0;

}

#order_table th {

  padding: 1em 0;
  font-weight: normal
}

#policies {

	list-style: none

}

#policies h3 {

	margin-top: 2em;

}

hr.small {

	width: 50px;

}

hr.small-centered {

	width: 50px;
	margin: 0 auto 2em auto;

}

#cart_contents {

	margin: 4em 0 0 0;

}

p#empty {

	font-family: cardo;
  font-size: 1.25em;
  line-height: 1.7;
  color: #555;
  text-align: center;

}

#main_content {

	margin: 2em 0 0 0;

}

#product_info a {

	font-size: 1.25em;

}

@media screen and (max-width:950px){

	#wrapper {

	max-width: 939px;
	padding: 0 2%;

	}

  #pages_nav {

  	padding: 0 8%;

  }

  #pages_nav a {

  	width: 32%;
  	display: inline-block;
  	padding: 0;	

  }
}

@media screen and (max-width:800px){


	#product_view_panel {

	position: relative;
	width: 100%;
	margin: 0 0 0 0;
	display: inline;

	}

	#view_choice {

		margin: 0 0 1.1em 0;

	}

	#product_images {
    	float: none;
    	width: 100%;
    	max-width: 100%;
	}

	#product_info {
    	margin: 1.25em 0 0 0;
    	max-width: 100%;
    	width: 100%
	}

  #product_list {
	
	  float: none;
    width: 100%;
	
	}

	.product_tile {
  
    margin: 0 0 2em 0;
    width: 100%;
	
	}

	.catalog_image {

    max-width: 100%;

  }

  .product_title {

  	font-size: 1.25em;

  }

  .dropdown_content li {

  	font-size: 17px;

  }

  #session .dropdown_content li {

  	font-size: 1em

  }

  #session a, #session .dropdown {

  	font-size: 1.15em;

  }

  #options_panel {

  	width: 100%;
  	margin: 0 0 1.5em 0;
    display: block;
    float: none;

  }


	h1 {

  		font-size: 2em;

	}

  #price {

		font-size: 1.5em;  	

  }

  .custom_price {

		font-size: 1.2em;  	

  }

  #cart_button, #custom_cart_button, #checkout_button {

  	font-size: 1.25em;

  }

	.label_swatch {
		width: 50px;
    	height: 25px;
    	border-top: 10px solid white;
    	display: inline-block;
	}
	
	.label_swatch.selected {
		width: 50px;
		height: 35px;
		border-top: none;
	}
	
	#custom_options label {
		font-size: 1.6em;
	}
	
	#custom_options span {
		font-size: 1.45em;
		line-height: 1.5;
	}
}