/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {

	padding: 0;
	margin: 0;

}

body {

	background: #F6F6F6;

}	

#content {

	margin: .5em 0 0 0;

}

#content a {

	text-decoration: none;
	color: #8e8e8e;
	font-size: 1.1em;
	line-height: 1.7em;
}

#content a:hover {

	color: #333;

}

p, text {

  font-family: cardo;
  font-size: 1.19em;
  line-height: 1.7;
  color: #555;
}

h1, h2, h3 {

	font-weight: normal;
	-webkit-font-smoothing: antialiased;

}

h1 {

  font-family: cardo;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: .02em;
  line-height: 1.2;
  color: #555;

}


#wrapper {

	max-width: 940px;
	margin: 0 auto;
	padding: 0 15% 0 15%;

}

#session {

	width: 100%;
	height: 2em;
	background: #F6F6F6;
}

#session a{

	line-height: 2em;
	padding: 0 1em 0 1em;
	margin: 0 5% 0 0;
	color: #8e8e8e;
	text-decoration: none;
	letter-spacing: .04em;
	text-transform: uppercase;
	float: right;

}

#session a:hover {

	color: #333;

}

#nav {

	width: 100%;
	height: 7em;
	background: #F6F6F6;
	text-align: center;

}

#pages_nav {

	margin-top: 1em;

}

#pages_nav a{

	width: 100%;
	padding: 0 4.5em 0 4.5em;
	color: #8e8e8e;
	font-size: 1.19em;
	letter-spacing: .04em;
	text-decoration: none;
	text-transform: uppercase;

}

#pages_nav a:hover {

	color: #333;

}

#pages_nav a:active {

	color: #333;

}


#custom_product_content {

	display: none;

}

.error_highlight {

	border: 1px solid red;

}

.hidden_field {

	display: none;

}

#product_view {

	position: relative;
	height: 500px;

}

.required_field {

	display: block;

}

.required_section {

	display: block;

}

#corners_view {
	position: absolute;
	z-index: 10;
}

#exterior_materials_view {
	position: absolute;
	z-index: 11;
}

#stitching_view {
	position: absolute;
	z-index: 12;
}

#edges_view {
	position: absolute;
	z-index: 13;
}

#custom_product_content span {

	text-transform: capitalize;

}

#currency_notice {

	display: none;

}

#style_nav {

	float: left;
	width:	25%;

}


#style_nav ul {

	list-style: none;

}

.footer {

	width: 100%;
	float: left;

}

#product_list {

	float: left;
	width: 75%;

}

#product_images {

	float: left;
	width: 50%;
	max-width: 500px;


}

#product_info {

	margin: .8em 0 0 0;

}

.label_swatch {

  width: 20px;
  height: 20px;
	display: inline-block;

}

.label_swatch.selected {

  border: solid 2px #ff0000;

}

.radio_swatch {

	display: none;

}

.social_button {

	height: 25px;
	width: 25px;

}

#logo {

	max-width: 157px;
  display: block;
  margin: 2em auto 2em auto;	
}

#price {

	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: 600;
  font-size: 1.19em;
  color: #777;
  letter-spacing: .05em;
}