<footer class="footer">
	<hr class="small-centered">
	<div class="social_nav">
		<ul>
			<li><a class="fa fa-instagram" href="https://www.instagram.com/decadeleather"></a></li>
			<li><a class="fa fa-facebook" href="https://www.facebook.com/decadeleather"></a></li>
			<li><a class="fa fa-twitter" href="https://twitter.com/DecadeLeather"></a></li>
			<li><a class="fa fa-tumblr" href="http://decadeleather.tumblr.com/"></a></li>
		</ul>
	</div>
</footer>