<footer class="footer">
	<div class="social_nav">
		<a href="https://www.instagram.com/decadeleather">
			<%= image_tag("/instagram/button/path", :class => "social_button", :alt => "Instagram") %>
		</a>
		<a href="https://www.facebook.com/decadeleather">
			<%= image_tag("/facebook/button/path", :class => "social_button", :alt => "Facebook") %>
		</a>
		<a href="https://twitter.com/DecadeLeather">
			<%= image_tag("/twitter/button/path", :class => "social_button", :alt => "Twitter") %>
		</a>
		<a href="http://decadeleather.tumblr.com">
			<%= image_tag("/tumblr/button/path" ,:class => "social_button", :alt => "Tumblr") %>
	</div>
</footer>